env/
venv/
Backend/__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.pot
*.mo
*.swp
*.swo
*.swn
*.bak
*.tmp
*.orig
*.rej
*.sublime-project
*.sublime-workspace
.idea/
.vscode/
.DS_Store
node_modules/
coverage/
dist/
build/
*.egg-info/
*.pt
Model/models/__pycache__/